
* {
    overflow: auto;
}

body {
    background-color: #8BA1BB;
    font-family: Arial;
}

p.categorie {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    display: inline-block;
    padding: 8px 18px;
    margin-top: -15px;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 16px;
}
div.categorie {
    margin-bottom: 0px;
    margin-top: 0px;
    overflow: visible;
}
.centre {
    text-align: center;
    width: 100%;
}

div.contenu {
    background-color: #ffffff;
    margin: 40px 8px 80px 8px;
    padding: 0px 8px 20px 8px;
    /* min-width: 350px; */
    box-shadow: 0px 0px 8px 8px rgba(0,0,0,0.1);
    overflow: visible;
}

h1 {
    text-align: center;
    margin-top: 10;
    margin-bottom: 12px;
}

p.description {
    text-align: center;
    max-width: 400px;
    display: inline-block;
    font-size: 14px;
}

div.description {
    text-align: center;
}

div.separateur {
    height: 1px;
    width: 100px;
    background-color: #000000;
    margin-left: auto;
    margin-right: auto;
}

div.infos {
    position: relative;
}

table.infos {
    position: absolute;
    bottom: 0px;
    width: 100%;
    color: #ffffff;
    background-color: #6C829DC0;
    height: 50px;
}

table.infos td {
    text-align: center;
    vertical-align: top;
    font-size: 12px;
}

table.infos th {
    text-align: center;
    vertical-align: bottom;
    padding:4px;
    font-size: 14px;
}

img.infos{
    display: block;
    max-height:400px;
    object-fit: cover;
    min-height:200px;
    background-color: lightgrey;
}

div.colonne{
    width:100%;
    margin-top:20px;
}

div.colonne h2{
    text-align: center;
    text-transform: uppercase;
    font-size:15px;
    border-bottom:5px solid #6C8290;
    padding-bottom:5px;
}

div.colonne1{
    display: inline-block;
}

div.ingredients p{
    border: 1px solid lightgrey;
    font-size:14px;
    padding:4px 0;
    text-align: center;
    margin:4px;
}

table.preparation p.numero{
    background-color: #6C8290;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    font-weight:bold;
    width: 25px;
    height:25px;
    padding-top: 4px;
    box-sizing: border-box;
    border-radius: 50%;
    margin:0;
}

table.preparation td{
    vertical-align: top;
}

table.preparation td.preparation_etape{
    font-size: 14px;
    padding-left: 10px;
    padding-bottom: 10px;
}
table.preparation tr{
    height:40px;
}

/* Styles pour ordianateurs */
@media only screen and (min-width: 768px) {
    div.contenu {
        margin: 60px 10% 80px 10%;
        padding: 0px 30px 30px 30px;
        min-width: 350px;
    }
    
    table.infos {
        height: 80px;
    }
    
    table.infos td {
        font-size: 14px;
    }
    
    table.infos th {
        font-size: 16px;
    }
    
    div.colonne{
        width:45%;
    }
    
    div.colonne1{
        margin-right:10%;
    }
    
    div.colonne2{
        float:right;
    }
    
  }

  /* Styles pour les écrans très larges */
@media only screen and (min-width: 900px) {
    div.contenu {
        margin-left:auto;
        margin-right:auto;
        max-width:645px
    }
  }